/*************************************************************
    Main Page Navigation Settings
***************************************************************/
@include treelist-ui(
    $ui: 'navigation',
    $padding: 0 10px,

    // Black-ish background color
    $background-color: $tree-navigation-background-color,
    $toolstrip-background-color: #32404e,

    $tool-float-indicator-color: $panel-header-background-color,
    $tool-float-indicator-width: 5px,

    $tool-indicator-selected-color: $panel-header-background-color,
    $tool-indicator-selected-width: 5px,
    $tool-selected-background-color: mix(white, $tree-navigation-background-color, 10%),
    //$tool-selected-color: #fff,
    //$tool-selected-background-color: $panel-header-background-color,

    // Darker background for expanded subtrees
    $item-expanded-background-color: #2c3845,

    // Taller line height
    $item-line-height : $tree-navigation-item-line-height,

    $row-over-background-color: mix(white, $tree-navigation-background-color, 5%),
    $row-selected-background-color: mix(white, $tree-navigation-background-color, 10%),

    // Off-white text
    $item-icon-color: $tree-navigation-item-text-color,
    $item-expander-color: #fff,
    $item-text-color: #ADB3B8,

    // Brighter when hovered
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: mix(white, $tree-navigation-item-text-color, 50%),
    $item-text-font-size: 14px,

    // Various sizes for the pieces:
    $item-icon-font-size: 18px,
    $item-icon-width: 24px, //44px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,

    // Style the "row indicator" (the vertical stripe on the left edge):
    $row-indicator-width: 5px,
    $row-indicator-selected-color: $panel-header-background-color,
    $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%),
    $row-indicator-over-color: transparent
);

.collapsed{
    .hot-icon,.new-icon{
        &:after{
            display:none;
        }
    }
    .x-tree-elbow-img{
        display:none;
    }

    .x-tree-node-text {
        display:none;
    }
}

/*************************************************************
    Main Page Toolbar Settings
***************************************************************/
@include extjs-toolbar-ui (
    $ui: 'navigation',
    $background-color: mix(white, $base-color, 90%),
    $text-font-size: 16px,
    $text-line-height: $navigation-toolbar-height,
    $vertical-spacing: 5px
);

@include extjs-toolbar-ui (
    $ui: 'footer',
    $background-color: mix(white, $base-color, 90%),
    $text-font-size: 10px,
    $text-line-height: $footer-toolbar-height,
    $vertical-spacing: 2px
);

.sencha-dash-dash-headerbar {
    // background-color: mix(white, $base-color, 90%);
    // background-color: #E3F2FD;
    padding: 0 20px 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:2px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px 0  rgba(0,0,0,0.2);
    -ms-box-shadow: 0 1px 2px 0  rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px 0  rgba(0,0,0,0.2);

/*  .fa-power-off:before {
        color: $color-soft-red;
    }
    .fa-question:before {
        color: #FFD600;
    }
*/

}

.sencha-dash-dash-footerbar {
    // background-color: mix(white, $base-color, 90%);
    // background-color: #E3F2FD;
    padding: 0 0 0 0;
    position:fixed;
    width:100%;
    z-index:10;
    border:2px;
    -webkit-box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 -1px 2px 0  rgba(0,0,0,0.2);
    -ms-box-shadow: 0 -1px 2px 0  rgba(0,0,0,0.2);
    box-shadow: 0 -1px 2px 0  rgba(0,0,0,0.2);
}

//UI Styles for toolbar buttons
@include extjs-button-small-ui(
    $ui: 'header',
    $color: #999,
    $glyph-color: #919191,
    $background-color: transparent,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'header-red',
    $color: $color-soft-red,
    $glyph-color: darken($color-soft-red, 5%),
    $background-color: transparent,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'header-yellow',
    $color: $color-yellow,
    $glyph-color: darken($color-yellow, 5%),
    $background-color: transparent,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'header-purple',
    $color: $color-soft-purple,
    $glyph-color: darken($color-soft-purple, 5%),
    $background-color: transparent,
    $border-width: 0
);

@include extjs-button-small-ui(
    $ui: 'header-green',
    $color: $color-soft-green,
    $glyph-color: darken($color-soft-green, 5%),
    $background-color: transparent,
    $border-width: 0
);

//UI Styles for the logo
.sencha-logo {
    background-color: $base-color;
    height: $navigation-toolbar-height;

    font-size: 16px;
    color: $lightest-color;
    margin-left: 17px;

    
} 





.top-english-button{
    .x-btn-icon-el{
        width:21px;
        height:14px;
    }
}

.x-grid-cell{
    position:relative;
}
.hot-icon,.new-icon{
    &.hot-icon:after{
        content: "HOT";
        background:#e3495a;
    }
    &.new-icon:after{
        content: "NEW";
        background:$base-color;
    }
    &:after{
        height: 18px;
        width: 34px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -180px;
        text-align:center;
        color: $lightest-color;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
    }
}

.x-treelist-item-tool {
    height: $tree-navigation-item-line-height;
    &.hot-icon:after, &.new-icon:after{
        background: $panel-header-background-color;
        content: '';
    }
}

//.toolbar-btn-shadow{
//    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
//    .x-btn-over{
//        background-color: $button-toolbar-hover-background-color;
//    }
//}

//Add border around html editor field
.x-html-editor-input{
    border:1px solid #ccc;
}

/*
//UI Styles for buttons
@include extjs-button-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-blue',
    $line-height: 34px,
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-blue',
    $background-color: $color-soft-blue,
    $border-color: darken($color-soft-blue, 5%)
);


// @include extjs-button-small-ui(
//     $ui: 'facebook',
//     $background-color: $social-facebook-btn-background,
//     $border-color: darken($social-facebook-btn-background, 5%)
// );
// @include extjs-button-large-ui(
//     $ui: 'facebook',
//     $line-height: 34px,
//     $background-color: $social-facebook-btn-background,
//     $border-color: darken($social-facebook-btn-background, 5%)
// );

@include extjs-button-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-cyan',
    $background-color: $color-soft-cyan,
    $border-color: darken($color-soft-cyan, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-large-ui(
    $ui: 'soft-green',
    $line-height: 34px,
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-green',
    $background-color: $color-soft-green,
    $border-color:darken($color-soft-green, 5%)
);



@include extjs-button-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-red',
    $background-color: $color-soft-red,
    $border-color:darken($color-soft-red, 5%)
);


@include extjs-button-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'soft-purple',
    $background-color: $color-soft-purple,
    $border-color:darken($color-soft-purple, 5%)
);


@include extjs-button-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-large-ui(
    $ui: 'gray',
    $line-height: 34px,
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'gray',
    $background-color: $color-gray,
    $border-color:darken($color-gray, 5%)
);

@include extjs-button-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'green',
    $background-color: $color-green,
    $border-color:darken($color-green, 5%)
);


@include extjs-button-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
@include extjs-button-toolbar-small-ui(
    $ui: 'blue',
    $background-color: $color-blue,
    $border-color:darken($color-blue, 5%)
);
*/



/* expanded background color */
.x-treelist-navigation .x-treelist-item-expanded{
    background-color: #224973;
}
/* selected tab background color */
.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row{
    background-color: #475360;
}

/* text color in menu */
.x-treelist-navigation .x-treelist-item-text{
    color: #fff
}


.x-treelist-navigation .x-treelist-item-selected > .x-treelist-row:before {
    background-color: #03e0e0;
}




/* grid */
.x-grid-item-alt{
    background-color: rgba(0,0,0,.025);
    border-color: transparent!important;
}
.x-grid-item-over{
    background-color: rgba(0,0,0,.065);
    background-clip: padding-box;
    border-color: transparent!important;
}
.x-grid-with-row-lines .x-grid-item{
    border-color: transparent!important;
    border: 0;
}

.x-grid-item-selected{
    background-color: #fffad1;
}

.x-column-header{
    font-weight: bold;
}
.x-grid-cell-special {
    border-color: #e8e8e8;
    border-style: solid;
    border-right-width: 1px;
}

.x-column-header-checkbox .x-column-header-checkbox:after, .x-grid-checkcolumn:after {
    color: #919191;
}
.x-grid-item-selected .x-selmodel-column .x-grid-checkcolumn:after {
    color: #919191; 
}



// nav bar - top
.x-toolbar-navigation{
    background: rgba(255,255,255,0.8);
}



/* body */
body > .x-mask {
    background-image: none;
    background-color: rgba(62, 62, 62, 0.65);
}

.x-mask-msg-text {
    padding: 25px 0 0;
    background-image: url(images/loadmask/294.gif);
    background-repeat: no-repeat;
    background-position: center 0;
}
.x-mask-msg {
    padding: 65px;
    background: #ffffff;
    /* margin: 100px; */
    position: fixed;
    border-radius: 14px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
}